<div id="<%= dom_id book %>">
  <p>
    <strong>Titre:</strong>
    <%= book.titre %>
  </p>

  <p>
    <strong>Date de sortie:</strong>
    <%= book.date_de_sortie %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author.nom %>
  </p>

  <p>
    <strong>Pages:</strong>
    <%= book.pages %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre.nom %>
  </p>

</div>
