<p style="color: green"><%= notice %></p>

<% content_for :title, "Editors" %>

<h1>Editors</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
     <% @editors.each do |editor| %>
      <tr>
        <td><%= editor.nom%></td>
        <td><%= link_to 'Show this editor', editor %></td>
        <td><%= link_to 'Edit', edit_editor_path(editor) %></td>
        <td><%= link_to 'Destroy', editor, method: :delete, data: {confirm: 'Are you sure?'}%></td>
      </tr>
      <%end%>
  </tbody>
</table>


<br>

<%= link_to "New editor", new_editor_path %>
